<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="equipe">
      <h2 data-cy="equipeDetailsHeading"><span jhiTranslate="vermegApp.equipe.detail.title">Equipe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vermegApp.equipe.id">Id</span></dt>
        <dd>
          <span>{{ equipe.id }}</span>
        </dd>
        <dt><span jhiTranslate="vermegApp.equipe.nom">Nom</span></dt>
        <dd>
          <span>{{ equipe.nom }}</span>
        </dd>
        <dt><span jhiTranslate="vermegApp.equipe.nombrePersonne">Nombre Personne</span></dt>
        <dd>
          <span>{{ equipe.nombrePersonne }}</span>
        </dd>
        <dt><span jhiTranslate="vermegApp.equipe.vote">Vote</span></dt>
        <dd>
          <span>
            <a [routerLink]="['/vote', equipe.vote?.id, 'view']">{{ equipe.vote?.typeVote }}</a>
          </span>
        </dd>
        <dt><span jhiTranslate="vermegApp.equipe.users">Users</span></dt>
        <dd>
          <span *ngFor="let user of equipe.users; let last = last">
            <label>First Name:</label> {{ user.firstName }} <label>Last Name:</label> {{ user.lastName }} <label>Email:</label>
            {{ user.email }}
            <p style="white-space: pre-wrap"></p>
            {{ last ? '' : '  \n ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/equipe', equipe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
