<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-equipe-heading" data-cy="EquipeCreateUpdateHeading" jhiTranslate="vermegApp.equipe.home.createOrEditLabel">
        Create or edit a Equipe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="vermegApp.equipe.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.equipe.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.equipe.nombrePersonne" for="field_nombrePersonne">Nombre Personne</label>
          <input
            type="number"
            class="form-control"
            name="nombrePersonne"
            id="field_nombrePersonne"
            data-cy="nombrePersonne"
            formControlName="nombrePersonne"
          />
          <div
            *ngIf="
              editForm.get('nombrePersonne')!.invalid && (editForm.get('nombrePersonne')!.dirty || editForm.get('nombrePersonne')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombrePersonne')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 4 }"
            >
              This field should be at least 4.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombrePersonne')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 6 }"
            >
              This field cannot be more than 6.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('nombrePersonne')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.equipe.userUuid" for="field_userUuid">User Uuid</label>
          <input type="text" class="form-control" name="userUuid" id="field_userUuid" data-cy="userUuid" formControlName="userUuid" />
          <div *ngIf="editForm.get('userUuid')!.invalid && (editForm.get('userUuid')!.dirty || editForm.get('userUuid')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('userUuid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.equipe.userId" for="field_userId">User Id</label>
          <select class="form-control" id="field_userId" data-cy="userId" name="userId" formControlName="userId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('userId')!.value?.id ? editForm.get('userId')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="vermegApp.equipe.vote" for="field_votes">Vote</label>
          <select class="form-control" id="field_votes" data-cy="vote" multiple name="votes" formControlName="votes">
            <option
              [ngValue]="getSelectedVote(voteOption, editForm.get('votes')!.value)"
              *ngFor="let voteOption of votesSharedCollection; trackBy: trackVoteById"
            >
              {{ voteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
