<div>
  <h2 id="page-heading" data-cy="ProjetHeading">
    <span jhiTranslate="vermegApp.projet.home.title">Projets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vermegApp.projet.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-projet"
        [routerLink]="['/projet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vermegApp.projet.home.createLabel"> Create a new Projet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projets?.length === 0">
    <span jhiTranslate="vermegApp.projet.home.notFound">No projets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="projets && projets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="vermegApp.projet.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomProjet">
            <span jhiTranslate="vermegApp.projet.nomProjet">Nom Projet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="vermegApp.projet.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="vermegApp.projet.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="technologies">
            <span jhiTranslate="vermegApp.projet.technologies">Technologies</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statusProjet">
            <span jhiTranslate="vermegApp.projet.statusProjet">Status Projet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombreTotal">
            <span jhiTranslate="vermegApp.projet.nombreTotal">Nombre Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombreRestant">
            <span jhiTranslate="vermegApp.projet.nombreRestant">Nombre Restant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="equipe.id">
            <span jhiTranslate="vermegApp.projet.equipe">Equipe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tache.id">
            <span jhiTranslate="vermegApp.projet.tache">Taches</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projet of projets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/projet', projet.id, 'view']">{{ projet.id }}</a>
          </td>
          <td>{{ projet.nomProjet }}</td>
          <td>{{ projet.dateDebut | formatMediumDate }}</td>
          <td>{{ projet.dateFin | formatMediumDate }}</td>
          <td>{{ projet.technologies }}</td>
          <td jhiTranslate="{{ 'vermegApp.Status.' + projet.statusProjet }}">{{ projet.statusProjet }}</td>
          <td>{{ projet.nombreTotal }}</td>
          <td>{{ projet.nombreRestant }}</td>
          <td>
            <div *ngIf="projet.equipe">
              <a [routerLink]="['/equipe', projet.equipe?.id, 'view']">{{ projet.equipe?.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngFor="let tache of projet.taches">
              <a [routerLink]="['/tache', tache?.id, 'view']">
                {{ tache?.titre }}<label>:</label> <label>"</label>{{ tache?.description }}<label>"</label>
              </a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/projet', projet.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/projet', projet.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(projet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projets && projets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
