<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vote">
      <h2 data-cy="voteDetailsHeading"><span jhiTranslate="vermegApp.vote.detail.title">Vote</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vermegApp.vote.id">Id</span></dt>
        <dd>
          <span>{{ vote.id }}</span>
        </dd>
        <dt><span jhiTranslate="vermegApp.vote.userUuid">User Uuid</span></dt>
        <dd>
          <span>{{ vote.userUuid }}</span>
        </dd>
        <dt><span jhiTranslate="vermegApp.vote.typeVote">Type Vote</span></dt>
        <dd>
          <span jhiTranslate="{{ 'vermegApp.Rendement.' + vote.typeVote }}">{{ vote.typeVote }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vote', vote.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
