<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-devis-heading" data-cy="DevisCreateUpdateHeading" jhiTranslate="vermegApp.devis.home.createOrEditLabel">
        Create or edit a Devis
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="vermegApp.devis.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.devis.prixTotal" for="field_prixTotal">Prix Total</label>
          <input type="number" class="form-control" name="prixTotal" id="field_prixTotal" data-cy="prixTotal" formControlName="prixTotal" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.devis.prixHT" for="field_prixHT">Prix HT</label>
          <input type="number" class="form-control" name="prixHT" id="field_prixHT" data-cy="prixHT" formControlName="prixHT" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.devis.prixService" for="field_prixService">Prix Service</label>
          <input
            type="number"
            class="form-control"
            name="prixService"
            id="field_prixService"
            data-cy="prixService"
            formControlName="prixService"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.devis.dureeProjet" for="field_dureeProjet">Duree Projet</label>
          <input
            type="number"
            class="form-control"
            name="dureeProjet"
            id="field_dureeProjet"
            data-cy="dureeProjet"
            formControlName="dureeProjet"
            [readonly]="true"
          />
          <div *ngIf="editForm.get('dureeProjet')!.invalid && (editForm.get('dureeProjet')!.dirty || editForm.get('dureeProjet')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dureeProjet')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dureeProjet')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.devis.userUuid" for="field_userUuid">User Uuid</label>
          <input
            type="text"
            class="form-control"
            name="userUuid"
            id="field_userUuid"
            data-cy="userUuid"
            formControlName="userUuid"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vermegApp.devis.projet" for="field_projet">Projet</label>
          <select class="form-control" id="field_projet" data-cy="projet" name="projet" formControlName="projet">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="projetOption.id === editForm.get('projet')!.value?.id ? editForm.get('projet')!.value : projetOption"
              *ngFor="let projetOption of projetsCollection; trackBy: trackProjetById"
            >
              {{ projetOption.nomProjet }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
