<div class="row">
  <div id="ima">
    <span class="hipster"></span>
    <!-- Page Content -->
    <div class="col-md-9">
      <!-- About Section -->
      <div class="about-main">
        <div class="row">
          <div class="col-lg-6">
            <h2>Welcome to Vermeg App!!!</h2>
          </div>
          <!-- /.row -->
        </div>
      </div>

      <div class="services-bar">
        <div class="container">
          <h1 class="py-4">Nous avons offrer de nombreux avantages</h1>
          <!-- Services Section -->
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-header">Les projets</h4>
                  <p class="card-text">
                    vous pouvez créer des projets personnalisés adaptés à vos besoins spécifiques. Chaque projet peut être configuré avec
                    des paramètres spécifiques tels que les types de problèmes, les flux de travail, les permissions d'accès, les tableaux
                    de bord et les rapports. Cela vous permet de structurer votre travail de manière logique et d'adapter Notre application
                    à votre méthodologie de gestion de projet.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-header">Les equipes</h4>
                  <p class="card-text">
                    La première fonctionnalité clé est la création d'équipes. Vous pouvez facilement créer des équipes en leur attribuant un
                    nom, une description et en ajoutant les membres pertinents. Une fois les équipes créées, vous pouvez affecter les
                    employés à chaque équipe de manière simple et transparente. L'outil permet de visualiser les membres de chaque équipe,
                    d'ajouter ou de supprimer des membres selon les besoins, et de gérer les autorisations d'accès en fonction des rôles et
                    des responsabilités de chaque individu.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-header">Les départements</h4>
                  <p class="card-text">
                    Créez les départements : Dans votre système de gestion des employés, créez les différents départements Ajoutez les
                    informations des employés : Importez ou saisissez les informations pertinentes sur les employés. Attribuez les employés
                    aux départements : Utilisez les fonctionnalités de votre système de gestion des employés pour attribuer chaque employé
                    au département approprié.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-header">Les Taches</h4>
                  <p class="card-text">
                    Identifiez les tâches spécifiques qui doivent être accomplies dans le cadre du projet. Divisez le projet en tâches plus
                    petites et définissez clairement les détails, les dépendances et les échéances de chaque tâche. Affecter chaque tâche à
                    l'équipe appropriée. Une fois que les tâches sont attribuées aux équipes, suivez régulièrement l'avancement du travail.
                    Utilisez les tableaux de bord, les rapports et les vues Kanban ou Scrum disponibles pour visualiser l'état des tâches,
                    suivre les progrès et identifier les éventuels problèmes ou obstacles.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-header">Les postes</h4>
                  <p class="card-text">
                    Nous croyons en l'importance d'offrir à nos employés un moyen de s'exprimer et de partager leurs impressions sur la
                    façon dont se passe leur journée de travail. Pour faciliter cela, nous avons mis en place une check-list de description
                    qui permet à chaque employé de partager ses commentaires et ses observations quotidiennes.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-header">Les status employés</h4>
                  <p class="card-text">
                    Notre application a été conçue pour faciliter la gestion des missions et la visibilité sur la durée de celles-ci pour
                    nos employés. Elle offre une interface conviviale et intuitive qui permet aux responsables et aux employés de visualiser
                    rapidement les informations relatives aux missions en cours.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </div>
    </div>
  </div>
</div>
